<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @estado_documento.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @estado_documento.descripcion %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @estado_documento.empresa_id %>
</p>

<p>
  <strong>User created:</strong>
  <%= @estado_documento.user_created_id %>
</p>

<p>
  <strong>User updated:</strong>
  <%= @estado_documento.user_updated_id %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @estado_documento.estado %>
</p>

<p>
  <strong>Etapa documento:</strong>
  <%= @estado_documento.etapa_documento_id %>
</p>

<%= link_to 'Edit', edit_estado_documento_path(@estado_documento) %> |
<%= link_to 'Back', estado_documentos_path %>
